.titleblack {
  color: #212121;
  font-weight: 500;
  margin: 0;
}

@media only screen and (min-width: 451px) {
  .titleblack {
      font-size: 30px;
  }
}

@media only screen and (max-width: 450px) {
  .titleblack {
      font-size: 25px;
  }
}


/*Classes Padrões Acima*/




.Esteira {
  width: 100%;
}

.EsteiraContainer {
  user-select: none;
  display: flex;
  overflow: hidden;
  mask-image: linear-gradient(90deg, transparent, #000 5%, #000 95%, transparent);
}

.EsteiraContent {
  display: flex;
  align-items: center;
  gap: 20px;
}

.EsteiraContent > div {
  display: flex;
  align-items: center;
  gap: 20px;
  animation: esteira 15s linear infinite;
}

.EsteiraContainer img {
  max-width: 150px;
  flex-shrink: 0;
}

@keyframes esteira {
  0% {
      transform: translateX(20px);
  }
  100% {
      transform: translateX(-100%);
  }
}

@media only screen and (min-width: 1276px) {
  .Esteira {
      display: flex;
      justify-content: space-between;
      gap: 40px;
  }

  .Esteira h3 {
      width: 230px;
  }
}

@media only screen and (max-width: 1275px) {
  .Esteira h3 {
      text-align: center;
      margin: 0 auto 40px auto;
  }
}

@media only screen and (min-width: 1276px) {
  .EsteiraContainer {
      max-width: 700px;
    }
}