.Esteira {
  max-width: 100%;
}

.EsteiraContainer {
  user-select: none;
  display: flex;
  overflow: hidden;
  mask-image: linear-gradient(90deg, transparent, #000 5%, #000 95%, transparent);
}

.EsteiraContent {
  display: flex;
  align-items: center;
  gap: 60px;
}

.EsteiraContent > div {
  display: flex;
  align-items: center;
  gap: 60px;
  animation: move 15s linear infinite;
  transform: translateZ(0);
  will-change: transform;
}

.EsteiraContainer img {
  max-width: 150px;
  flex-shrink: 0;
}

@keyframes move {
  0% {
    transform: translateX(60px);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media only screen and (min-width: 1276px) {
  .Esteira {
      max-width: 700px;
    }
}