.Esteira {
  width: 100%;
}

.EsteiraContainer {
  user-select: none;
  display: flex;
  overflow: hidden;
}

.EsteiraContent {
  display: flex;
  align-items: center;
  gap: 60px;
}

.EsteiraContent > div {
  display: flex;
  align-items: center;
  gap: 60px;
  animation: esteira 15s linear infinite;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.EsteiraContainer img {
  max-width: 150px;
  flex-shrink: 0;
}

@keyframes esteira {
  0% {
    transform: translateX(60px);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media only screen and (min-width: 1276px) {
  .Esteira {
      max-width: 700px;
    }
}

