.cardContainer {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 5px 26px 0 rgba(0, 0, 0, 0.130);
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    box-sizing: border-box;
}

.cardContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cardContent img {
    width: 100%;
    max-width: 81px;
    height: auto;
}

.cardContent span {
    color: #131313;
    font-weight: bold;
    font-size: 16px;
    margin: 10px 0 0 0;
}

.cardContent p {
    color: #717171;
    font-size: 16px;
    margin: 0;
}

@media only screen and (min-width: 730px) {
    .cardContainer{
        max-width: 300px;
    }
}