.paragraphblackmini {
    color: black;
    font-weight: bold;
    margin: 0;
  }
  
  @media only screen and (min-width: 451px) {
    .paragraphblackmini {
        font-size: 14px;
    }
  }
  
  @media only screen and (max-width: 450px) {
    .paragraphblackmini {
        font-size: 14px;
    }
  }
  
  
  /*Classes Padrões Acima*/
  
  
  
  
  
  @media only screen and (max-width: 450px) {
    .headerMobile {
      padding-top: 30px;
    }
  }
  
  @media only screen and (min-width: 451px) {
    .headerMobile {
      padding-top: 50px;
    }
  
    .headerDesktop {
      padding-top: 50px;
    }
  }
  
  .headerMobile img {
    max-width: 135px;
    width: 100%;
    height: auto;
  }
  
  .headerMobile {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    color: #fff;
  }
      
  .logo {
    font-size: 1.5rem;
    display: flex;
  }
      
  .sidemenu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    max-width: 414px;
    background-color: #ffffff;
    padding: 20px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    overflow-y: auto;
    box-sizing: border-box;
    z-index: 10;
  }
      
  .sidemenu.open {
    transform: translateX(0);
  }
  
  .iconheadermob {
    z-index: 2;
    padding: 7px;
    background-color: #B1DF1E;
    border-radius: 5px;
    display: flex;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .iconheadermob:hover {
    background-color: #9dc225;
    transition: all 0.3s;
  }
  
  .overlay {
    background: rgba(0, 0, 0, 0.459);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 9;
    backdrop-filter: blur(1px);
  }
      
  .overlay.active {
    opacity: 1;
    visibility: visible;
  }
  
  .loginbutton {
    background-color: #B1DF1E;
    border: none;
    border-radius: 100px;
    font-size: 14px;
    font-weight: bold;
    color: #1C1999;
    transition: all 0.3s;
    cursor: pointer;
  }
  
  .loginbutton:hover {
    background-color: #9dc225;
    transition: all 0.3s;
  }
  
  .headerDesktopList {
    display: flex;
    gap: 40px;
  }
  
  .headerDesktopList p {
    cursor: pointer;
  }
  
  .headerDesktop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
  }
  
  .headerDesktop img {
    max-width: 226px;
    width: 100%;
    height: auto;
  }
  
  .bar {
    height: 2px;
    background-color: #B1DF1E;
    width: 0;
    border-radius: 100px;
    transition: all 0.3s;
  }
  
  .barAnimation {
    width: 100%;
  }
  
  @media only screen and (min-width: 951px) {
    .headerMobileContainer {
        display: none;
    }

    .loginbutton {
      padding: 15px 25px 15px 25px;
    }
  }
  
  @media only screen and (max-width: 950px) {
    .headerDesktopContainer {
      display: none;
    }

    .loginbutton {
      padding: 10px 25px 10px 25px;
    }
  }
    