.Esteira {
    overflow: hidden;
    width: 100%;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    mask-image: linear-gradient(90deg, transparent, #000 6%, #000 94%, transparent);
    margin-top: -10px;
}

.Esteira::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.Esteira > div {
    display: flex;
    align-items: center;
    gap: 50px;
    padding-left: 20px;
}

@media only screen and (min-width: 700px) {
    .Esteira {
        display: none;
    }
}